#movie-detail-session-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.movie-detail-session-date-list {
  display: flex;
  gap: 6px;
}

.movie-detail-session-date-button {
  appearance: none;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  gap: 6px;

  color: var(--text-primary);
  background-color: var(--bg-card);
  font-family: Archivo;

  transition: 300ms ease;
}

.movie-detail-session-date-button.active {
  width: 110px;
  background-color: var(--color-red);
}

.date-num {
  font-weight: 800;
  font-size: 18px;
}

.venue-list-heading {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 16px;
}

.hall-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.hall-card {
  padding: 15px;

  background-color: var(--bg-card);
  border-radius: 18px;
  width: fit-content;
}

.hall-heading {
  margin-bottom: 9px;
}

.session-list {
  display: flex;
  gap: 9px;
}

.session-ticket-container {
  display: flex;
  flex-wrap: nowrap;
}

.session-ticket-right,
.session-ticket-left {
  height: 81px;
  background-color: var(--bg-page);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.session-ticket-left {
  position: relative;
  min-width: 160px;
  border-top-right-radius: 12px;
  border-right: 2px dashed var(--text-primary);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.session-ticket-right {
  width: 83px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.session-ticket-clip {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 99px;
  background-color: var(--bg-card);
  right: -8px;
}

.session-ticket-clip.top {
  top: -7px;
}

.session-ticket-clip.bottom {
  bottom: -8px;
}

.h2 {
  font-weight: 800;
  font-size: 20px;
}

.h3 {
  font-weight: 800;
  font-size: 18px;
}

.session-ticket-price {
  color: var(--color-red);
}

.remaining-tickets {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 4px;
}
.remaining-tickets svg {
  width: 12px;
  height: 12px;
}

.session-ticket-language {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-secondary);
}

.session-ticket-format {
  padding: 4px 12px;
  width: min-content;
  border-radius: 99px;

  background-color: var(--bg-card);
  color: #e3e3e3b2;
}
